<html>
	<head>
		<title>{{ page.title}}</title>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<ul>
						
					</ul>
					<a class="brand">Merlin</a>
				</div>
			</div>
		</div>
	</body>
</html>
